{% extends "layout.html" %}
{% block content %}
<section class="jodel container">
  <div class="row">
    <div class="col-md-6 col-xs-8 col-md-offset-3 col-xs-offset-2">
      <div class="panel panel-default">

        {% include "panel-heading.html" %}

        <ul id="jodels-list" class="list-group list-unstyled {{ random_color }}">
          {% for post in posts %}
          <li class="list-group-item {{ post.color }} parent {% if post.image_url %}image{% endif %}" id="{{ post.id }}">
            {% if not post.system_message %}<a href="/post/{{ post.id }}{% if channel %}?channel={{ channel }}{% endif %}">{% endif %}
            {% if post.image_url %}
            <img data-original="{{ post.image_url }}" alt="{{ post.post.message }}" class="post_image desktop lazy" />
            <noscript>
              <img src="{{ post.image_url }}" alt="{{ post.post.message }}" class="channel-image">
            </noscript>
            {% endif %}
            <div class="row center {% if post.image_url %}image{% endif %}">
              <div class="col-md-11 col-xs-11 message" dir="auto">{% if not post.image_url %}{{ post.post.message }}{% else %}Hover to show{% endif %}</div>
              {% if not post.system_message %}
              <div class="col-md-1 col-xs-2 col-sm-1 pull-right voting unselectable" unselectable="on">
                <div class="row">
                  <img src="/static/images/upvote.png" class="center-block vote-up">
                </div>
                <div class="row">
                  <span class="votes center-block">{{ post.post.vote_count }}</span>
                </div>
                <div class="row">
                  <img src="/static/images/downvote.png" class="center-block vote-down">
                </div>
              </div>
              {% endif %}
            </div>
            <div class="row time {% if post.image_url %}image{% endif %} unselectable" unselectable="on">

              {% if post.post.child_count > 0 %}
              <div class="col-md-4 col-xs-4 time-block">
                <img src="/static/images/time.png" class="icon time">
                <span class="time" title="{{ post.date }}">{% if not post.system_message %}{{ post.timedelta }}{% else %}by Jodel Team{% endif %}</span>
              </div>
              <div class="col-md-4 col-xs-4 comment-block">
                <img src="/static/images/chat.png" srcset="/static/images/chat@2x.png 2x" class="icon comment">
                <span class="comment">{{ post.post.child_count }}</span>
              </div>
              <div class="col-md-4 col-xs-4 location-block">
                  <span class="location string">{{ post.named_distance }}</span><span class="glyphicon glyphicon-map-marker town location" aria-hidden="true"></span>
              </div>
              {% else %}
              <div class="col-md-6 col-xs-6 time-block">
                <img src="/static/images/time.png" class="icon time">
                <span class="time" title="{{ post.date }}">{% if not post.system_message %}{{ post.timedelta }}{% else %}by Jodel Team{% endif %}</span>
              </div>
              <div class="col-md-6 col-xs-6 location-block">
                  {% if post.from_home %}
                  <span class="location string">Home</span>
                  <span class="glyphicon glyphicon-home town location" aria-hidden="true"></span>
                  {% else %}
                  <span class="location string">{{ post.named_distance }}</span>
                  <span class="glyphicon glyphicon-map-marker town location" aria-hidden="true"></span>
                  {% endif %}
              </div>
              {% endif %}
            </div>
            {% if not post.system_message %}</a>{% endif %}
          </li>

          {% else %}
          <div class="error-message">
            <h2>No posts found</h2>
            <p>
              Unfortunately, no posts could be fetched.<br />Maybe there aren't any yet?<br />
              <a href="/setup?kill_session=True">Try a different location!</a>
            </p>
          </div>
          {% endfor %}
        </ul>

        <div class="panel-footer">
          <span>{% if last_first_post != None %}<a href="?after={{ last_first_post }}">&laquo; Newer posts</a>{% else %}<a href="{{ base_url }}recent">&laquo; Load recent posts</a>{% endif %}</span>
          <span class="pull-right"><a href="?before={{ first_post }}&after={{ last_post }}">Older posts &raquo;</a></span>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
