<!doctype html>
<html>
<head>
  <title>{{ session['title'] }}</title>
  <link rel=stylesheet type=text/css href="/static/style.css">
</head>
<body>
  <header>
    <a href="/"><h1>{{ session['title'] }}</h1></a>
    <nav>
      {% if request.path != "/" %}
      <a href="/setup?kill_session=True">Change Location</a>
      <a href="/posts/recent">Recent</a>
      <a href="/posts/popular">Popular</a>
      <a href="/posts/discussed">Discussed</a>
      <a href="/channel/Leuphana">Leuphana Channel</a>
      {% endif %}
    </nav>
  </header>
  <main>
    <section id="content">
      {% block content %}{% endblock %}
    <section>
  </main>
</body>
</html>
