<!doctype html>
<html>
  <head>
    <title>JodelExtract</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style_jodel.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/static/images/favicons/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body class="jodel {% if post %}{{ post.color }}{% else %}{{ random_color }}{% endif %}{% if error %} error{% endif %}">
    <header class="{% if post %}{{ post.color }}{% else %}{{ random_color }}{% endif %}">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-3 logo">
            <a href="/"><h1>JodelExtract</h1></a>
          </div>
            <nav class="col-md-5 col-md-offset-4 col-xs-6 col-xs-offset-3 links">
              <ul class="nav navbar-nav navbar-right">
                {% if request.path != "/" %}
                <li><a href="/posts/recent">Main Posts</a></li>
                <li><a href="/channel/">Channel List</a></li>
                <li><a href="/setup?kill_session=True">Change Location</a></li>
                {% endif %}
              </ul>
            </nav>
        </div>
      </div>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.lazyload.min.js"></script>
    <script>
    $(function() {
      $("img.lazy").lazyload({
          threshold : 300
      });
      $("img.lazy").show().lazyload();
    });
    </script>
  </body>
</html>
