<div class="panel-heading">
  {% if channel %}
  <a href="{{ url_for('channel', channel=channel, mode='recent') }}"<span class="channel">{{ channel }}</span></a>
  {% else %}
  <span class="location"><!--<span class="glyphicon glyphicon-map-marker town" aria-hidden="true"></span>--> {{ session.loc }}</span>
  {% endif %}

  {% if post %}
  <span class="share_info post">
    <!--<a href="https://share.jodel.com/post?postId={{ post.id }}" target="_blank" title="Share via the official Jodel Website"><span>Share</span></a>
    <img class="share" src="{{ url_for('static', filename='images/shares.png') }}" srcset="/static/images/shares@2x.png 2x">-->
    <span class="pins">{{ post.post.pin_count }}</span><img src="/static/images/pins.png" />
  </span>
  {% elif request.path != "/channel/" %}
  <span class="share_info overview">
    <ul class="nav navbar-nav navbar-right">
      {% set navigation_bar = [
          ('recent', 'recent', 'recent'),
          ('discussed', 'discussed', 'discussed'),
          ('popular', 'popular', 'popular')
      ] -%}
      {% set current_mode = current_mode|default('recent') -%}
      {% for href, id, caption in navigation_bar %}
        <li>
          <a{% if id == current_mode %} class="active"{% endif %} href="{{ base_url }}{{ href|e }}">{{ caption|e }}</a>
        </li>
      {% endfor %}
    </ul>
  </span>
  {% else %}
  {% endif %}
</div>
