<div class="panel-heading">
  {% if channel %}
  <a href="/channel/{{ channel }}/recent"<span class="channel">{{ channel }}</span></a>
  {% else %}
  <a href="http://maps.google.com/?q={{ session.loc }}" title="Show on Google Maps" target="_blank">
    <span class="location"><!--<span class="glyphicon glyphicon-map-marker town" aria-hidden="true"></span>--> {{ session.loc }}</span>
  </a>
  {% endif %}

  {% if post %}
  <span class="share_info post">
    <!--<a href="https://share.jodel.com/post?postId={{ post.id }}" target="_blank" title="Share via the official Jodel Website"><span>Share</span></a>
    <img class="share" src="{{ url_for('static', filename='images/shares.png') }}" srcset="/static/images/shares@2x.png 2x">-->
    <span class="pins">{{ post.post.pin_count }}</span><img src="/static/images/pins.png" />
  </span>
  {% elif request.path != "/channel/" %}
  <span class="share_info overview">
    {% set navigation_bar = [
        ('recent', 'recent', 'recent'),
        ('discussed', 'discussed', 'discussed'),
        ('popular', 'popular', 'popular')
    ] -%}
    {% set active_page = active_page|default('recent') -%}
    {% for href, id, caption in navigation_bar %}
      <a{% if id == active_page %} class="active"{% endif %} href="{{ base_url }}{{ href|e }}"><span>{{ caption|e }}</<span></a>
    {% endfor %}
  </span>
  {% else %}
  {% endif %}
</div>
