{% extends "layout.html" %}
{% block content %}
<div class="wrapper" id="post">
  {% if post %}
  <div class="header">
    <span class="location"> {{ session.loc }} ({{ post.named_distance }})</span>
    <span class="share_info">
      <a href="https://share.jodel.com/post?postId={{ post.id }}" target="_blank"><span>Share</span></a>
      <span>{{ post.post.pin_count }} <img src="/static/images/pins.png" /></span>
    </span>
  </div>
  <article class="{{ post.color }}">
    <div class="op" style="{% if comments %}border-bottom: 6px solid #ffffff; padding-bottom: 5px;{% endif %}">
      {% if post.image_url %}
      <img src="{{ post.image_url }}" alt="{{ post.post.message }}" class="post_image" />
      {% endif %}
      <div class="padder">
        <div class="voting">
          <span>{{ post.post.vote_count }}</span>
        </div>
        {% if not post.image_url %}
        <div class="center">
          <div class="message">
            <p>{{ post.post.message }}</p>
          </div>
        </div>
        {% endif %}
        <div class="info">
          <img src="/static/images/time.png" /><span>{{ post.date }}</span>
          <!--<a href="/user/{{ post.post.user_handle }}"><span>Author</span></a>-->
          {% if post.post.child_count > 0 %}<span> {{ post.post.child_count }} comments </span>{% endif %}
        </div>
      </div>
    </div>

    <div class="comments">
    {% for comment in comments %}
      <div class="comment {% if comment.post.user_handle == post.post.user_handle or comment.by_oj %}oj{% endif %}">
        <div class="vote_count"><span>{{ comment.post.vote_count }}</span></div>
        {% if comment.image_url %}
        <img src="{{ comment.image_url }}" alt="{{ comment.post.message }}" />
        {% else %}
        <p>
          {{ comment.post.message }}
        </p>
        {% endif %}
        <div class="info">
          <img src="/static/images/time.png" /><span>{{ post.date }}</span>
          <!--<a href="/user/{{ comment.post.user_handle }}"><span>Author</span></a>-->
          <span>{{ comment.named_distance }}</span>
        </div>
      </div>
    {% endfor %}
    </div>

  </article>
  {% else %}
    <h3 class="error">Error</h3>
  {% endif %}
</div>


{% else %}
<div class="container fluid orange">
    <div class="panel panel-default  orange ">
        <div class="panel-body">
            <div class="row">
                <img src="/images/dead_racoon.png">
            </div>
            <div class="row message">
                Content no longer available
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
