{% extends "layout.html" %}
{% block title %}Post "{{ post.post.message[:25] }}..." ({{ post.location }}) - {{ session.title }}{% endblock %}
{% block content %}
{% if post %}
<section class="jodel container">
  <div class="row">
    <div class="col-md-6 col-xs-8 col-md-offset-3 col-xs-offset-2">
      <div class="panel panel-default">

        {% include "panel_heading.html" %}

        <ul id="jodel-detail" class="list-group list-unstyled {{ post.color }}">

          {% include "post_content.html" %}

          {% for comment in comments %}
          <li class="list-group-item {{ comment.color }} child {% if comment.image_url %}image{% endif %}" id="{{ comment.id }}">
            {% if comment.image_url %}
            <img src="{{ comment.image_url }}" alt="{{ comment.post.message }}" class="post_image desktop" />
            {% endif %}
            <div class="row center {% if comment.image_url %}image unselectable{% endif %}">
              <div class="col-md-11 col-xs-11 message" dir="auto">{% if not comment.image_url %}{{ comment.post.message }}{% endif %}</div>
              <div class="col-md-1 col-xs-2 col-sm-1 pull-right voting unselectable" unselectable="on">
                <div class="row">
                  <img src="/static/images/upvote.png" class="center-block vote-up inactive-toggle">
                </div>
                <div class="row">
                  <span class="votes center-block">{{ comment.post.vote_count }}</span>
                </div>
                <div class="row">
                  <img src="/static/images/downvote.png" class="center-block vote-down inactive-toggle">
                </div>
              </div>
            </div>
            <div class="row {% if comment.image_url %}image {% endif %}time unselectable" unselectable="on">
              <div class="col-md-6 col-xs-6 time-block">
                <img src="/static/images/time.png" class="icon time" title="{{ comment.date }} by replier no #{{ comment.replier }}">
                <span class="time" title="{{ comment.date }} by replier no #{{ comment.replier }}">{{ comment.timedelta }}</span>
              </div>
              {% if comment.by_oj %}
              <div class="col-md-6 col-xs-6 oj-block">
                <span class="oj">OJ</span><img class="icon-oj" src="/static/images/crownIcon.png" srcset="/static/images/crownIcon@2x.png 2x">
              </div>
              {% elif comment.post.got_thanks %}
              <div class="col-md-6 col-xs-6 oj-block">
                <!-- FIXME: replace crown incon with heart -->
                <span class="oj">Thanks!</span><img class="icon-oj" src="/static/images/heart.png" srcset="/static/images/heart@2x.png 2x">
              </div>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>

        {% if post.post.child_count > 11 %}
        <!-- TODO: Pagination for comments -->
        <div class="panel-footer">
          <span><a href="#jodel-detail">To the Top</a></span>
          <span class="pull-right"><a href="#{{ post.post.child_count-1 }}">Scroll to last comment</a></span><!--comments[11].id-->
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% else %}

<div class="container fluid {{ random_color }}">
    <div class="panel panel-default {{ random_color }}">
        <div class="panel-body">
            <div class="row">
                <img src="/static/images/dead_racoon.png">
            </div>
            <div class="row message">
                Content no longer available
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
