{% extends "layout.html" %}

{% block title %}
{{ current_mode.capitalize() }} posts{% if channel %} in @{{ channel }}{% elif hashtag %} with #{{ hashtag }}{% endif %} ({{ session.loc }}) - {{ session.title }}
{% endblock %}

{% block content %}
<section class="jodel container">
  <div class="row">
    <div class="col-md-6 col-xs-8 col-md-offset-3 col-xs-offset-2">
      <div class="panel panel-default">

        {% include "panel_heading.html" %}

        <ul id="jodels-list" class="list-group list-unstyled {{ random_color }}">
          {% for post in posts %}

          {% include "post_content.html" %}

          {% else %}
          <div class="error-message">
            <h2>No posts found</h2>
            <p>
              Unfortunately, no posts could be fetched.<br />Maybe there aren't any yet?<br />
              <a href="{{ url_for('setup', kill_session='True') }}">Try a different location!</a>
            </p>
          </div>
          {% endfor %}
        </ul>

        <div class="panel-footer">
          {% if channel %}
          <span>
            {% if last_first_post != None %}
            <a href="{{ url_for('channel', mode=current_mode, channel=channel, after=last_first_post) }}">&laquo; Newer posts</a>
            {% else %}
            <a href="{{ url_for('channel', mode=current_mode, channel=channel) }}">&laquo; Load previous posts</a>
            {% endif %}
          </span>
          <span class="pull-right">
            <a href="{{ url_for('channel', mode=current_mode, channel=channel, after=last_post, before=first_post) }}">Older posts &raquo;</a>
          </span>
          {% elif hashtag %}
          <span>
            {% if last_first_post != None %}
            <a href="{{ url_for('hashtag', mode=current_mode, hashtag=hashtag, after=last_first_post) }}">&laquo; Newer posts</a>
            {% else %}
            <a href="{{ url_for('hashtag', mode=current_mode, hashtag=hashtag) }}">&laquo; Load previous posts</a>
            {% endif %}
          </span>
          <span class="pull-right">
            <a href="{{ url_for('hashtag', mode=current_mode, hashtag=hashtag, after=last_post, before=first_post) }}">Older posts &raquo;</a>
          </span>
          {% else %}
          <span>
            {% if last_first_post != None %}
            <a href="{{ url_for('posts', mode=current_mode, after=last_first_post) }}">&laquo; Newer posts</a>
            {% else %}
            <a href="{{ url_for('posts', mode=current_mode) }}">&laquo; Load previous posts</a>
            {% endif %}
          </span>
          <span class="pull-right">
            <a href="{{ url_for('posts', mode=current_mode, after=last_post, before=first_post) }}">Older posts &raquo;</a>
          </span>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
