{% extends "layout.html" %}
{% block content %}
  <div id="posts">
  {% for post in posts %}
    <article style="background-color: {{ post.color }};">
      <a href="/post/{{ post.id }}"><div>
        <div class="vote_count"><span>{{ post.post.vote_count }}</span></div>
        {% if post.image_url %}
        <img src="{{ post.image_url }}" alt="{{ post.post.message }}" />
        {% else %}
        <p>{{ post.post.message }}</p>
        {% endif %}
        <div class="info">
          <span>Created at: {{ post.date }}</span>
          <a href="/user/{{ post.post.user_handle }}"><span>Author</span></a>
          {% if post.post.child_count > 0 %}<span> {{ post.post.child_count }} comments </span>{% endif %}
          <span>{{ post.named_distance }}</span>
        </div>
      </div></a>
    </article>
  {% else %}
    <em>Unbelievable. No entries here so far</em>
  {% endfor %}
  </div>
  <a href="/posts/?after={{ last_post }}" style="color: orange">Next posts</a>
{% endblock %}
