{% extends "layout.html" %}
{% block content %}
  <div id="posts">
  {% for post in posts %}
    <article style="background-color: {{ post.color }};">
      <a href="/post/{{ post.id }}"><div>
        <div class="vote_count"><span>{{ post.post.vote_count }}</span></div>
        {% if post.image_url %}
        <img src="{{ post.image_url }}" alt="{{ post.post.message }}" />
        {% else %}
        <p>{{ post.post.message }}</p>
        {% endif %}
        <div class="info">
          <span>Created at: {{ post.date }}</span>
          <!--<a href="/user/{{ post.post.user_handle }}"><span>Author</span></a>-->
          {% if post.post.child_count %}<span> {{ post.post.child_count }} comments </span>{% endif %}
          <span>{{ post.named_distance }}</span>
        </div>
      </div></a>
    </article>
  {% else %}
    <h3 class="error">Unbelievable. No posts here so far</h3>
  {% endfor %}
  </div>
  <a href="?after={{ last_post }}"><span class="next_posts">Older posts &raquo;<span></a>
{% endblock %}
